
body{
  /*background-image: url('assets/cubes.jpg');*/
  color: #594b03;
}
.message{
	color: blue;
}

.contenedor{
  margin: 60px;
  display: flex;
  justify-content: center;
}

.comment  {
background: rgba(201,235,240,1);
background: -moz-linear-gradient(left, rgba(201,235,240,1) 0%, rgba(170,238,240,1) 23%, rgba(154,227,221,1) 52%, rgba(170,238,240,1) 76%, rgba(201,235,240,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(201,235,240,1)), color-stop(23%, rgba(170,238,240,1)), color-stop(52%, rgba(154,227,221,1)), color-stop(76%, rgba(170,238,240,1)), color-stop(100%, rgba(201,235,240,1)));
background: -webkit-linear-gradient(left, rgba(201,235,240,1) 0%, rgba(170,238,240,1) 23%, rgba(154,227,221,1) 52%, rgba(170,238,240,1) 76%, rgba(201,235,240,1) 100%);
background: -o-linear-gradient(left, rgba(201,235,240,1) 0%, rgba(170,238,240,1) 23%, rgba(154,227,221,1) 52%, rgba(170,238,240,1) 76%, rgba(201,235,240,1) 100%);
background: -ms-linear-gradient(left, rgba(201,235,240,1) 0%, rgba(170,238,240,1) 23%, rgba(154,227,221,1) 52%, rgba(170,238,240,1) 76%, rgba(201,235,240,1) 100%);
background: linear-gradient(to right, rgba(201,235,240,1) 0%, rgba(170,238,240,1) 23%, rgba(154,227,221,1) 52%, rgba(170,238,240,1) 76%, rgba(201,235,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9ebf0', endColorstr='#c9ebf0', GradientType=1 );

margin: 5px auto;
padding: 8px;
border-radius: 40px 25px;
width: 400px;
}

h2{
  padding: 8px;
}